/* General Styling */
body {
  font-family:sans-serif, 'Arial';
  margin: 0;
  padding: 0; 
  color: #05161A;
  line-height: 1.6;
  background: #000;
  overflow-x: hidden;
}
#about{
  background: url("images/profile.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 80%;
  height: 500px;
  border-radius: 15px;
  margin-left: 100px;
  margin-top: 125px;
}
#skills{
  position: relative;
  width: 35%;
  height: 200px;
  left: 59%;
  background: #8EB69B;
  bottom: 228px;
  border-radius: 15px;
}
#unity{
  position: sticky;
  width: 100%;
  height: 250px;
  background: url("images/unity.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  
}
#unity-title{
  color: #DAF1DE;
  text-align: center;
  font-size: 3.4rem;
  position: sticky;
  text-shadow: 0 0 0 5px #000, 0 0 0 15px #000, 0 0 0 25px #000;
}
#icons{
  position: absolute;
  width: 50%;
  height: 100%;
  align-content: left;
  right: 45%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
#game-dev{
  position: relative;
  width: 100%;
  border-radius: 10px;
  height: 100px;
  background: #111;
  color: #fff;
}
.profile2{
  width:125px;
  height:125px;
  display:inline;
  position: absolute;
  right: 175px;
  margin:10px;
}
.icons2{
  width:50px;
  height:50px;
  display:inline;
  margin:3px;
  transform: translateY(10px);
}
.info2{
  display:inline-block;
  text-align:left;
  font-size: 1.2rem;
}
.images{
  width:750px;
  height:450px;
  display:inline;

}
#projects_title{
  color: #DAF1DE;
}
#programming{
  position: relative;
  align-content: right;
  justify-content: right;
  margin-left: 80%;
  bottom: 100px;
}
.current{
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #DAF1DE;
  border: 1px solid #051F20;
}
#cur1{
  background: #000;
}
#img2{
  display: none;
}
.slide{
  position: relative;
  width:750px;
  height:450px;
  left:235px;
}
/* Project Section */
#projects .project-card {
  background-color: #DAF1DE;
  border: 1px solid #ddd;
  padding: 2rem;
  margin-bottom: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

/* Contact Section */
#contact {
  background: #111;
}
#contact a{
  font-weight: bold;
}
#contact a {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.0rem;
  color: #8EB69B;
  transition: color 0.3s ease, transform 0.3s ease;
}
#contact h2{
  color: #fff;
}
#contact h3{
  color: #DAF1DE;
}
#contact a:hover {
  color: #DAF1DE;
  cursor: pointer;
}

p{
  display:block;
}
/* Navigation Bar */
nav {
  background-color: #051F20;
  color: #051F20;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10; 
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; 
}

nav li {
  display: inline;
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #fff;  
  transition: color 0.3s ease;
}

nav a:hover {
  color: #DAF1DE; 
}
section {
  padding: 4rem 2rem;
  transition: opacity 0.5s ease-in-out; 
  text-align: center; 
}

h2 {
  color: #051F20;
  margin-bottom: 2rem;
}

footer {
  background-color: #051F20;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
#projects p, h4{
  color: #555;
}
#profile-description{
  display:block;
  text-align:left;

}
#profile-title{
  display:block;
  text-align:left;
}

.icons{
  width:22px;
  height:22px;
  display:inline;
  margin:3px;
  transform: translateY(10px);
}
.info{
  display:inline;
  text-align:left;
}
#snake{
  all:unset;
  text-decoration:none;
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.5rem; 
  color: #8EB69B;
  transition: color 0.3s ease, transform 0.3s ease; 
  cursor:pointer;
  opacity: 0.3;
}
#snake:hover{
  color: #8EB69B;
  opacity: 1;
}
#projects .project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.snake_features{
  text-align:left;
  
}
nav a:hover {
  transform: translateY(-2px); 
}

html {
  scroll-behavior: smooth;
}

nav a[href^="#"] {
  scroll-behavior: smooth; 
}

#snake_feature{
  position: relative;
  top: 20px;
  margin-bottom: 40px;
}
.slide_buttons{
  background: #8EB69B;
  border: none;
  margin-right:50px;
  margin-left:50px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
}
.slide_buttons:hover{
  background: #0B2B26;
  color: #DAF1DE;
  
}

@media (max-width: 256px) {
  #about{
    margin-top:75px;
  }
  nav ul {
    text-align: left;
  }
  
  nav li {
    display: block; 
    margin: 0.5rem 0;
  }
  #profile-title{
    text-align:center;
  }
  #profile-description{
    text-align:center;
  }
  .images{
    height: 50px;
    width: 256px;

  }
}
@media (max-width: 728px){
  .images{
    height: 150px;
    width: 256px;

  }
} 
@keyframes appear{
  0%{
    opacity: 0.1;
    width: 40%;
  }
  100%{
    opacity: 1;
    width: 100%;
  }
}
